#play-ground-canvas {
    background-color: azure;
}

.add-rectangle-button {
    position: absolute;
    right: 40px;
    bottom: 40px;

    width: 72px;
    height: 72px;

    padding-bottom: 8px;

    color: white;

    font-size: 40px;

    background-color: #B39DFC;
    border-radius: 50%;

    outline: none;
    cursor: pointer;
}