#play-ground-canvas {
    background-color: #c0c0c0;

    outline: none;
}

.add-rectangle-button {
    position: absolute;
    right: 40px;
    bottom: 40px;

    width: 72px;
    height: 72px;

    padding-bottom: 8px;

    color: white;

    font-size: 40px;

    background-color: #B39DFC;
    border-radius: 50%;

    outline: none;
    cursor: pointer;
}

.delete-shape-button {
    position: absolute;
    right: 40px;
    top: 40px;

    padding: 10px;

    color: white;

    background-color: red;

    outline: none;
    border: 0;
    border-radius: 4px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}